@font-face {
    font-family: Zen Maru Gothic Bold;
    src: url(./fonts/ZenMaruGothic-Bold.ttf);
}
@font-face {
    font-family: Inter Regular;
    src: url(./fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter Bold;
    src: url(./fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter Extra Bold;
    src: url(./fonts/Inter-ExtraBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background: #F6F6F6;
}
a{
    text-decoration:none;
}
li{
    list-style-type: none;
}
.wrapper{
    width: 830px;
    margin: 0 auto;
    background: white;
}


/* MOBILE */
@keyframes slidein {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
.mobile-menu{
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
}

.ham-menu{
    display: flex;
    flex-direction: column;
}
.ham-menu:hover{
cursor: pointer;
opacity: .8;
}
.ham-line{
    width: 40px;
    height: 0.4rem;
    background: rgba(0,0,0,0.61);
    margin-bottom: .8rem;
    border-radius: 1rem;
    position: relative;
}

.mobile-active{
    position:absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: #53D3D8;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    box-shadow: 0 3px 4px rgba(0,0,0, .8);
    animation: slidein .8s;
}
.active{
    height: unset !important;
    margin-top: 5rem !important;
    text-align: center !important;
}
.close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    display: none;
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }


/* NAV AND HERO SECTION */
.main-head{
    height: 100px;
    background: #FFFFFF;
    display: flex;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo h1{
    font-family: Zen Maru Gothic Bold;
    font-size: 3.6rem;
    color: #F611FB;
    margin-left: 2rem;
    margin-right: 5rem;
    margin-top: 2rem;
}
.main-head nav ul{
    height: 100%;
}
.main-head nav ul{
    display: flex;
    align-items: center;
}
.main-head nav ul li{
    margin-right: 3rem;
}

.main-head nav ul li a{
    font-family: Inter Regular;
    font-size: 1.6rem;
    color: #656565;
}
.purchase_page{
    align-self: center;
    background: #FF7A00;
    width: 180px;
    height: 45px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase_page:hover{
    opacity: .8;
    cursor: pointer;
}
.purchase_page h2{
    font-family: Inter Bold;
    font-size: 2rem;
    color: #FFFFFF;
}
.hero-bg{
    margin-top: .7rem;
    padding-top: 1rem;
    background-color: white;
}
.hero{
    position: relative;
    height: 428px;
    background:url(./images/00183\ 2.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.hero-head-polygon img{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}
.hero-head-polygon h2{
    font-family: Inter Bold;
    font-size: 1.3rem;
    color: #0FB600;
    margin-top: 1.8rem;
    margin-left: .5rem;
    margin-right: 1rem;
    z-index: 1;
}
.hero-head{
    display: flex;
}
.main-heading{
    margin-top: 2.5rem;
    margin-right: 1rem;
}
.main-heading h2{
    font-family: Inter Bold;
    font-size: 3rem;
    color: #57DD6C;
    text-shadow: -1px 1px 0 #FAFF17,
				  1px 1px 0 #FAFF17,
				 1px -1px 0 #FAFF17,
                 0 2px 2px rgba(255,255,255,0.5);
    line-height: 22px; 
    text-align: right;
    padding-bottom: 15px;
}
.circles{
    display: flex;
    margin-top: .7rem;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    background: #FFF620;
    margin-right: .8rem;
    border-radius: 50%;
}
.circle h3{
    font-family: Inter Bold;
    font-size: 1.2rem;
    color: #070707;
}


/* INTRO SECTION */
.intro{
    background:rgba(225,246,255, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.intro-head{
    padding-top: 3.4rem;
}
.intro-img{
    position: relative;
    height: 121px;
}
.intro-head img{
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.intro-head h2{
    font-family: Inter Bold;
    font-size: 1.6rem;
    color: black;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 52%;
    transform: translateX(-50%);
}
.intro-head p{
    font-family: Inter Bold;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    line-height: 18px;
}
.intro-content{
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-content-button{
    background:#57DD6C;
    width: 180px;
    height: 38px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.2rem;
}
.intro-content-button h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: white;
}
.videos{
    display: flex;
    justify-content: center;
}
.videos div:first-child{
    margin-right: 18px;
}
.video{
    position: relative;
    background: white;
    padding: .8rem 1rem;
    border: .7px solid #8C8C8C;
}
.you-tube-play-btn{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.news{
    margin-top: 2.6rem;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.news-btn{
    background: #57DD6C;
    width: 180px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 2.5rem;
}
.news-btn h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: white;
}
.news-list-item{
    width: 665px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    margin-bottom: .7rem;
    padding: 1rem .8rem;
}
.news-list-item h3{
    font-family: Inter Bold;
    font-size: 1.5rem;
    color: black;
    line-height: 16px;
    margin-bottom: .5rem;
}
.news-list-item h4{
    font-family: Inter Regular;
    font-size: 1.2rem;
    color: #747474;
}
.news-list div:last-child{
    margin-bottom: 3rem;
}


/* FEATURES SECTION */
.features{
    background: white;
    padding-top: 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-btn{
    background: #57DD6C;
    width: 180px;
    height: 38px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.4rem;
}
.features-btn h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: white;
}
.first-two-features{
    display: flex;
}
.feature-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.feature-img, .feature-img img{
    width: 100%;
}
.feature-title h3{
    font-family: Inter Bold;
    font-size: 1.5rem;
    color: black;
}
.feature-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3045FF;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    color: white;
    margin-right: .5rem;
}
.feature-text p{
    margin-top: 1.1rem;
    font-family: Inter Bold;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    line-height: 16px;
}
.feature{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-h-line{
    height: .5px;
    background: #B9B9B9;
    width: 90%;
    margin-top: 2.1rem;
    margin-bottom: 3.5rem;
}
.feature3{
    padding-bottom: 7rem;
}


/* LESSON FLOW SECTION */
.lesson-flow{
    background:rgba(225,246,255, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lesson-flow-btn{
    width: 180px;
    height: 38px;
    background: #57DD6C;
    border-radius: 7px;
    margin-top: 2.1rem;
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lesson-flow-btn h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: white;
}
.lesson-flow-cards{
    width: 100%;
}
.lesson-flow-first-row{
  display: flex;
  align-items: center;
  margin-bottom: 7.5rem;
}
.lesson-flow-second-row{
    display: flex;
    align-items: center;
    margin-bottom: 6.2rem;
}
.flow-card{
    width: 264px;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flow-card1, .flow-card4{
    margin-left: 9.6rem;
}
.flow-card3{
    order: 3;
}
.third-flow-arrow{
    order:2
}
.first-flow-arrow, .third-flow-arrow{
    margin-left: 1.5rem;
    margin-right: 3.8rem;
    
}
.flow-card-number img{
    position: absolute;
    top: 0;
    left: 0;
}
.flow-card-number h4{
    position: absolute;
    top: 12px;
    left: 10px;
    font-family: Inter Bold;
    font-size: 1.8rem;
    color: white;
    line-height: 16px;
}
.flow-card-title{
    margin-bottom: 3px;
}
.flow-card-h-line{
    height: .5px;
    width: 143px;
    background: #030BBC;
    margin-bottom: 1rem;
}
.flow-card-title h3{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: #323131;
    line-height: 16px;
    margin-top: 1.2rem;
}
.flow-card-img{
    width: 140px;
    height: 115px;
    margin-bottom: 1.6rem;
}
.flow-card-img img{
    width: 100%;
    height: 100%;
}
.flow-card-text p{
    font-family: Inter Bold;
    font-size: 1.2rem;
    font-weight: 700;
    color: #323131;
    line-height: 16px;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
}
.flow-card-text span{
    color:#FA5D04
}
.first-flow-arrow img{
    align-self: center;
}
.flow-card2{
   position: relative;
}
.second-flow-arrow{
   position: absolute;
   bottom: -60px;
   left: 50%;
   transform: translateX(-50%);
}


/* COURSE LIST SECTION */
.course-list{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-list-btn{
    width: 180px;
    height: 38px;
    background: #57DD6C;
    border-radius: 7px;
    margin-top: 1.3rem;
    margin-bottom: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-list-btn h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: white;
}
.options-first-row, .options-second-row{
    display: flex;
}
.options-first-row{
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}
.options-second-row{
    margin-bottom: 7.5rem;
    display: flex;
    justify-content: center;
}
.option1, .option3{
    margin-right: 6.1rem;
}
.option-title h3{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color:black;
    line-height: 16px;
    margin-bottom: .8rem;
}
.option-title-h-line{
    width: 317px;
    height: 5px;
    border-top: 1px solid #57DD6C;
    border-bottom: 3px solid #57DD6C;
    margin-bottom: 1.3rem;
}
.option-img{
    margin-left: .8rem;
    margin-bottom: 1.3rem;
}
.option-text p{
    font-family: Inter Bold;
    font-size: 1.2rem;
    font-weight: 700;
    color:black;
    line-height: 16px;
    padding: 0 1rem;
}
.options-h-line{
    width: 762px;
    height: 1px;
    background: #B9B9B9;
    margin-bottom: 3.2rem;
}
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TEACHER INTRODUCTION SECTION */
.teacher-introduction{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teacher-introduction-btn{
    width: 180px;
    height: 38px;
    background: #57DD6C;
    border-radius: 7px;
    margin-bottom: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher-introduction-btn h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: white;
}
.teacher-introduction-first-row, .teacher-introduction-second-row{
    display: flex;
}
.teacher-introduction-first-row{
    margin-bottom: 2.6rem;
}
.teacher-introduction-second-row{
    margin-bottom: 5.3rem;
}
.teacher-card{
    width: 343px;
    background: #EFFFFE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teacher-card1, .teacher-card3{
    margin-right: 2.9REM;
}
.teacher-card-img{
    margin-top: 1.5rem;
    margin-bottom: 1.1rem;
}
.teacher-name h3{
    font-family: Inter Bold;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}
.teacher-info{
    background: white;
    padding: 8px 20px 30px 10px;
    margin: 0 2.5rem;
    margin-bottom: 1.2rem;
    width: 90%;
}
.teacher-info h4{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: #00BFFC;
}
.teacher-info h5, .teacher-info p{
    font-family: Inter Bold;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}
.teacher-info p{
    width: 100%;
}
.birthplace, .qualification{
    margin-bottom: 1rem;
}


/* APPLICATION FLOW SECTION */
.application-flow{
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7.7rem;
}
.application-flow-btn{
    width: 180px;
    height: 38px;
    background: #57DD6C;
    border-radius: 7px;
    margin-bottom: 5.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.application-flow-btn h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: white;
}
.application-flow-step{
    display: flex;
}
.application-flow-step-title{
    position: relative;
    margin-right: 1.1rem;
}
.step-title{
    position: absolute;
    top: 25%;
    left: 15%;
}
.step-title h3{
    width: 144px;
    text-align: center;
    font-family: Inter Bold;
    font-size: 1.5rem;
    color: black
}
.application-flow-info p{
    font-family: Inter Bold;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4E4E4E;
    margin-top: 3rem;
}


/* FAQ SECTION */
.faq{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
}
.faq-btn{
    width: 180px;
    height: 38px;
    background: #FAFF17;
    border-radius: 7px;
    margin-bottom: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-btn h2{
    font-family: Inter Bold;
    font-size: 1.4rem;
    color: #06C86B
}
.faq-table-row-h-line{
    width: 729px;
    height: 0.5px;
    background: #B9B9B9;
    margin-bottom: .8rem;
}
.question{
    position: relative;
    display: flex;
    align-items: center;
}
.q-img{
    margin-right: 1rem;
}
.question h3{
    font-family: Inter Bold;
    font-size: 1.5rem;
    color: black;
}
.arrow-icon{
    position: absolute;
    right: 10px;
}
.arrow-icon:hover{
    cursor: pointer;
    opacity: .8;
}
.question-respose{
    background: #F1F1F1;
    margin-bottom: 1.5rem;
    margin-left: 2.3rem;
    margin-right: 1.6rem;
    display: none;
}
.question-respose p{
    font-family: Inter Bold;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    margin-left: 1.6rem;
}
.response-active{
    display: block;
}


/* FOOTER SECTION */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.5rem;
}
footer h3{
    font-family: Inter Regular;
    font-size: 1.3rem;
    color: rgba(0,0,0,.9);
    font-weight: 400;
}
.footer-head h2{
    width: 400px;
    text-align: center;
    font-family: Inter Regular;
    font-size: 1.4rem;
    color: rgba(0,0,0,.9);
    margin-bottom: 1.4rem;
    font-weight: 400;
}
.footer-row1{
    width: 446px;
    display: flex;
    border-bottom: 0.5px solid #B6B3B3;
}
.footer-row2{
    width: 446px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
}
.v-line{
    height: 13px;
    width: 1px;
    background: #B6B3B3;
    margin-left: 1.6rem;
    margin-right: 5.2rem;
}
.copy-right h4{
    font-family: Inter Regular;
    font-size: 1.2rem;
    color: #8B8686;
}

.mobile-footer-buttons{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    background: rgba(221,221,221,.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.footer-btn1{
    background: rgba(251,135,0,.8);
    width: 175px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 2.3rem 0;
    margin-right: 1.2rem;
}
.footer-btn1:hover{
    cursor: pointer;
    opacity: .8;
}
.footer-btn1 h5{
    font-family: Inter Regular;
    font-size: 1.8rem;
    color: black;
}
.footer-btn2{
    background: rgba(33,238,0,.6);
    width: 175px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.3rem 0;
    border-radius: 6px;
}
.footer-btn2:hover{
    cursor: pointer;
    opacity: .8;
}
.footer-btn2 h5{
    font-family: Inter Regular;
    font-size: 1.8rem;
    color: black;
}
#features-id, #application-flow-id, #course-list-id{
    scroll-margin-top: 110px;
} 

/* MEDIA QUERIES */
@media screen and (max-width:850px){
    .wrapper{
        width: 100%;
    }
    .main-heading .line{
        font-size: 3rem;
    }
    .logo h1{
        margin-right: 4.5rem;
    }
}
@media screen and (max-width:830px){
    .logo h1{
        margin-right: 4rem;
    }
    .main-heading .line{
        font-size: 2.7rem;
    }
    .main-head nav ul li{
        margin-right: 2rem;
    }
    .option1, .option3{
        margin-right: 4rem;
    }
}

@media screen and (max-width:800px){
    .main-heading .line{
        font-size: 2.4rem;
    }
    .logo h1{
        margin-right: 3rem;
    }
}
@media screen and (max-width:780px){
    .logo h1{
        margin-right: 2rem;
    }
    .main-heading .line{
        font-size: 2.2rem;
    }
    .options-h-line{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
}
@media screen and (max-width:765px){
    .logo h1{
        margin-right: 1.5rem;
    }
    .main-head nav ul li{
        margin-right: 1.5rem;
    }
    .main-heading .line{
        font-size: 2rem;
    }
}
@media screen and (max-width:745px){
    .faq-table-row-h-line{
        width: 100%;
    }
    .faq-table{
        padding: 0 .6rem;
        width: 100%;
    }
    .logo h1{
        font-size: 3.2rem;
    }
    .purchase_page{
        width: 160px;
    }
    .hero-head-polygon h2{
        font-size: 1.2rem;
    }
    .main-heading .line{
        font-size: 1.8rem;
    }
    .main-heading{
    width: 100%;
       margin: 0;
       margin-top: 1rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .main-heading .line{
       margin-left: 0;
       text-align: center;
    }
    .teacher-card{
        width: 335px;
    }
}
@media screen and (max-width:730px){
    .hero-head-polygon h2{
        margin-right: .4rem;
    }
}
@media screen and (max-width:720px){
    .main-head{
        height: 58px;
    }
    .purchase_page, .main-head nav ul{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .logo{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .logo h1{
        margin-top: 0;
        font-size: 3.6rem;
    }
    .hero{
        height: 350px;
    }
    .circles{
        flex-wrap: wrap;
        width: 230px;
        height: 70px;
    }
    .circle{
        background: #06C86B;
        border-radius: 4px;
        width: 110px;
        height: 30px;
        margin-bottom: 1rem;
    }
    .circle h3{
        color: white;
        padding: .3rem .6rem;
    }
    .hero-head{
        justify-content: space-between;
    }
    .intro-head p{
        padding: 0 1rem;
    }
    .videos div:first-child{
        display: none;
    }
    .video img, .you-tube-play-btn{
        display: none;
    }
    .video iframe{
        display: block;
    }
    .intro-content, .news, .news-list{
        width: 100%;
    }
    .news-list-item{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .first-two-features{
        flex-direction: column;
    }
    .feature-text p{
        font-size: 1.4rem;
    }
    .feature-img{
        margin-bottom:2rem
    }
    .feature1 .feature-text{
        margin-bottom: 2rem;
    }
    .lesson-flow-first-row, .lesson-flow-second-row{
        flex-direction: column;
        margin: 0;
    }
    .first-flow-arrow, .second-flow-arrow, .third-flow-arrow{
        display: none;
    }
    .flow-card{
        margin: 0;
        order: unset;;
    }
    .lesson-flow-btn{
        margin-bottom: 2.4rem;
    }
    .flow-card{
        margin-bottom: 2rem;
    }
    .flow-card4{
        margin-bottom: 3.4rem;
    }
    .options-first-row, .options-second-row{
        flex-direction: column;
        margin: 0;
    }
    .option{
        margin: 0;
        margin-bottom: 6rem;
    }
    .options-h-line{
        display: none;
    }
    .option-img{
        margin-bottom: 1.6rem;
    }
    .teacher-card{
        width: 280px;
    }
    .mobile-footer-buttons{
        display: flex;
    }
    footer{
        padding-bottom: 0;
    }
}
@media screen and (max-width:620px){
    .teacher-card{
        width: 260px;
    }
    .hero{
        height: 330px;
    }
}
@media screen and (max-width:570px){
    .teacher-card{
        width: 240px;
    }
    .hero{
        height: 300px;
    }
    .application-flow-steps{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .application-flow-step{
        width: 95%;
        margin: 0 auto;
    }
    .application-flow-info{
        padding: 0 1rem;
    }
}
@media screen and (max-width:550px){
    .hero-head{
       display: block;
    }
    .circles{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .circle{
        flex-basis: 32%;
    }
    .hero-head-polygon h2{
        font-size: 1.4rem;
        padding-top: 1.5rem;
    }
}
@media screen and (max-width:530px){
    .teacher-card{
        width: 220px;
    }
    .intro-head h2{
        width: 90%;
        text-align: center;
    }
}
@media screen and (max-width:490px){
    .teacher-card{
        width: 200px;
    }
    .footer-head, .footer-row1, .footer-row2{
        width: 90%;
        margin: 0 auto;
    }
    .footer-head h2{
        width: 100%;
        margin-bottom: 1.7rem;
    }
    .footer-row1 .v-line{
        margin-left: 1rem;
        margin-right: 2rem;
    }
    .footer-row2 .v-line{
        margin-left: 1rem;
        margin-right: 2rem;
        margin-top: 2px;
    }
    .footer-row2{
        margin-bottom: 2rem;
        margin-top: .5rem;
        justify-content: flex-start;
    }
    .footer-row1 h3:first-child, .footer-row2 h3:first-child{
        width: 210px;
        text-align: start;
    }
    .footer-row2 h3:first-child{
        padding-left: 4.3rem;
    }
}

@media screen and (max-width:460px){
    .teacher-card1, .teacher-card3{
        margin-right: 2rem;
    }
    .teacher-card{
        width: 180px;
    }
}
@media screen and (max-width:420px){
    .teacher-introduction-first-row, .teacher-introduction-second-row{
        flex-direction: column;
    }
    .teacher-card{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 3rem;
        box-shadow: 0 2px 2px rgba(0,0,0,.25),  0 4px 4px rgba(0,0,0,.25);
    }
    .application-flow-step{
        margin-bottom: 2rem;
    }
    .intro-head p{
        margin: 0 1rem;
    }
    .hero{
        height: 265px;
    }
}
@media screen and (max-width:380px){
    .footer-btn1, .footer-btn2{
        width: 150px;
    }
    .copy-right{
        width: 98%;
        margin: 0 auto;
        display: flex;
        text-align: center;
    }
    .footer h3{
        font-size: 1.2rem;
    }
    .application-flow-img{
        width: 160px;
    }
    .application-flow-img img{
        width: 100%;
    }
    .step-title h3{
        font-size: 1.3rem;
    }
    .step-title{
        left: 10%;
        top: 18%;
    }
    .ham-line{
        width: 25px;
        height: 1px;
    }
}
@media screen and (max-width:372px){
    .footer-row1, .footer-row2{
        flex-direction: column;
        align-items: center;
    }
    .footer-head{
        margin-bottom: 2rem;
    }
    .v-line{
        display: none;
    }
    .video{
        width: 280px;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    .video img{
        width: 100%;
    }
    .news-list-item h3{
        font-size: 1.2rem;
    }
    .intro-head h2{
        width: 60%;
        font-size: 1.2rem;
    }
    .intro-img{
        width: 95%;
    }
    .intro-img img{
        width: 100%;
    }
}
@media screen and (max-width:340px){
    .circles{
        margin-left: 0rem;
    }
    .circle{
        flex-basis: 11rem;
    }
    .intro-img{
        width: 95%;
    }
    .intro-img img{
        width: 100%;
    }
    
    .option-img{
        width: 280px;
    }
    .option-img img{
        width: 100%;
    }
    .option-title-h-line{
        width: 100%;
    }
    .footer-btn1, .footer-btn2{
        width: 120px;
    }
    .footer-btn1 h5, .footer-btn2 h5{
        font-size: 1.4rem;
    }
    .feature-img{
        width: 90%;
    }
    .feature-img img{
        width: 100%;
    }
}
@media screen and (max-width:320px){
    .circles{
        justify-content: center;
        width: 100%;
    }
    .option-img{
        width: 90%;
    }
    .intro-head h2{
        width: 90%;
    }
    .main-heading{
        margin-left: 0;
    }
    .main-heading .line{
        margin-left: 5rem;
    }
}
@media screen and (max-width:300px){
    .video{
        width: 98%;
        margin: 0 auto;
    }
}
