@font-face {
    font-family: 'Noto Sans JP Light';
    src: url('./fonts/NotoSansJP-Light.otf');
}
@font-face {
    font-family: 'Noto Sans JP Bold';
    src: url('./fonts/NotoSansJP-Bold.otf');
}

@keyframes cta1 {
   to{
    border-color: #1d4d6c;
    transform: translateX(2%);
   }
}
@keyframes cta2 {
    to{
        border-color: #795a06;
        transform: translateX(2%);
    }
}
@keyframes slidein {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  @keyframes slideout {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-200%);
      
    }
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #333;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}


/* MOBILE */
@keyframes slidein {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
.mobile-menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    display: none;
}
.mobile-menu-buttons-active{
    display: flex !important;
    position: absolute;
    margin-top: 3rem !important;
    top: 10% !important;
    z-index: 20;
}
.menu-active{
    display: block;
    position: absolute;
    margin-top: 3rem !important;
    top: 0 !important;
}
.first-navigation-links-active{
    position: relative;
    display: flex !important;
    flex-direction: column;
    margin-top:  10rem;
    z-index: 11;
}
.second-navigation-links-active{
    position: absolute !important;
    top: 27rem;
    left: 52.5%;
    transform: translateX(-50%);
    display: flex !important;
    flex-direction: column !important;
    z-index: 10 !important;
    height: 0;
    padding: 0;
}
.ham-menu{
    display: flex;
    flex-direction: column;
}
.ham-menu:hover{
cursor: pointer;
opacity: .8;
}
.ham-line{
    width: 40px;
    height: 0.4rem;
    background: #369DDC;
    margin-bottom: .8rem;
    border-radius: 1rem;
    position: relative;
}

.ham-menu-active{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
    background: white !important;
    z-index: 10 !important;
    animation: slidein .6s;
    align-items: flex-start !important;
}
.ham-menu-inactive{
   animation: slideout .9s;
}
.close {
    position: sticky;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: .8;
    display: none;
    z-index: 2;
  }
  .close:hover {
    cursor: pointer;
    opacity: .5;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #369DDC;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .stop-scrolling{
    height: 100%;
    overflow: hidden;
}


/* NAV AND HERO SECTION */
.main-head-bg{
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 5px rgb(0,0,0,.5);
}
.main-head{
    display: flex;
    align-items: center;
    height: 8rem;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-left: 2.4rem;
}
nav ul li:hover, nav ul li h3:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: .8;
}
nav ul li a, nav ul li h3{
    font-family: 'Noto Sans JP Light';
    font-size: 1.3rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
    font-weight: 350;
}
.second-navigation{
    display: none;
    padding-bottom: 2rem;
}
.second-navigation ul li{
    margin-right: 3rem;
}
.extended-menu-active{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-right: 1rem;
}
.logo:hover{
    cursor: pointer;
    opacity: .8;
}
.main-head-buttons{
    margin-left: 2.4rem;
    display: flex;
    align-items: center;
}
.main-head-buttons h2{
    font-family: 'Noto Sans JP Light';
    font-size: 1.3rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
    font-weight: 350;
}
.inquiry-btn{
    color: #369DDC;
    padding: .8rem 1.25rem;
    border: 3px solid #4CB2F0;
    border-radius: 30px;
    margin-right: .5rem;
    transition: .5s;
   
}
.inquiry-btn:hover{
    cursor: pointer;
    background: #369DDC;
    color: white;
}
.request-btn{
    background: #FCBB0D;
    color: white;
    padding: .8rem 2.9rem;
    border: 3px solid #FCBB0D;
    border-radius: 30px;
    transition: .5s;
}
.request-btn:hover{
    cursor: pointer;
    color: #FCBB0D;
    background: white;
}
.hero-bg{
    background: #369DDC;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}
.hero-text{
    display: flex;
    flex-direction: column;
}
.hero-head h1{
    font-family: 'Noto Sans JP Bold';
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: -0.4px;
    color: white;
    margin-bottom: 2.4rem;
}
.features-circles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
}
.features-circles h2{
    width: 120px;
    height: 120px;
    font-family: 'Noto Sans JP Bold';
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    padding-top: 3.6rem;
    border: 4px solid white;
    border-radius: 60px;
    margin-right: 2rem;
}
.features-circles h2 span{
    font-size: 2.4rem;
}
.features-circles h2:last-child{
    padding-top: 2.2rem;
    line-height: 3.6rem;
}
.hero-head h3{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}
.hero-head h3 span{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.4rem;
    line-height: 1.6rem;
    letter-spacing: .5px;
    color: #FCBB0D;
}
.cta-buttons{
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}
.cta-buttons h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
}
.cta-btn1{
    width: 274px;
    height: 72px;
    background: white;
    border: 3px solid #4CB2F0;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
}
.cta-btn1:hover{
    cursor: pointer;
    animation: cta1 .8s infinite alternate-reverse;
}
.cta-btn1 h4{
    color: #369DDC;
    margin-left: 7rem;
    margin-right: 2.2rem;
}
.cta-btn2{
    width: 274px;
    height: 72px;
    background: #FCBB0D;
    border: 3px solid #FCBB0D;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cta-btn2:hover{
    cursor: pointer;
    animation: cta2 .8s infinite alternate-reverse;
}
.cta-btn2 h4{
    color: white;
    margin-left: 7rem;
    margin-right: 4.9rem;
}
.hero-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-info h5{
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
}
.hero-info h5 span{
    font-family: 'Noto Sans JP Bold';
    font-size: 1.6rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    color: #FCBB0D
}
.hero-info h5 span:hover{
    cursor: pointer;
    opacity: .8;
}
.hero-info h6{
    font-family: 'Noto Sans JP Light';
    font-size: 1.2rem;
    line-height: 1.92rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    margin-bottom: 5rem;
}


/* TASKS SECTION */
.tasks-bg{
    background: #F1F6F8;
}
.tasks-head{
    padding-top: 9.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tasks-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color: #333;
    text-align: center;
    margin-bottom: 4.3rem;
}
.tasks-head h2 span{
    color: #369DDC;
}
.tasks-head h3{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
    text-align: center;
    margin-bottom: 18.16rem;
}
.tasks-head h3 span{
    font-family: 'Noto Sans JP Bold';
    color: #369DDC;
}
.tasks-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tasks-card{
    height: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    flex-basis: 30rem;
    margin-bottom: 13.6rem;
    position: relative;
}
.tasks-card2, .tasks-card5{
    margin-left: 5rem;
    margin-right: 5rem;
}
.tasks-card .card-img{
    position: absolute;
    top: -95px;
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text h4{
    margin-top: 4.8rem;
    font-family: 'Noto Sans JP Bold';
    font-size: 2.4rem;
    line-height: 3.84rem;
    letter-spacing: .5px;
    color: #369DDC;
    margin-bottom: 1.94rem;
}
.card-text-h-line{
    width: 8rem;
    height: .4rem;
    background: #FCBB0D;
    margin-bottom: 4rem;
}
.card-list ul li{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.08rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
    padding-bottom: 1.58rem;
    list-style: none;
    position: relative;
}
.card-list ul li::before{
    content: '・';
}


/* WORK-TIME-REDUCTION SECTION */
.work-time-reduction-bg{
    background: #369DDC;
}
.work-time-reduction-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-time-reduction-head h2{
 padding-top: 9.5rem;
 font-family: 'Noto Sans JP Bold';
 font-size: 3.6rem;
 line-height: 7.04rem;
 letter-spacing: .5px;
 color: white;
 text-align: center;
 margin-bottom: 8rem;
}
.work-time-reduction-head h2 span{
    color: #FCBB0D;
}
.reduction-circles{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.reduction-circle{
    width: 30rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    position: relative;
}
.reduction-circle .inner-circle{
    width: 24rem;
    height: 24rem;
    background: white;
    border-radius: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.outer-circle{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.circle-title h3{
    font-family: 'Noto Sans JP Light';
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
    margin-top: 3.9rem;
    margin-bottom: 2rem;
}
.reduction-percent h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 6rem;
    line-height: 5rem;
    letter-spacing: .5px;
    color: #FCBB0D;
}
.reduction-percent h4 span:first-child{
    font-size: 1.8rem;
}
.reduction-percent h4 span:last-child{
    font-size: 1.8rem;
    color: #333;
    margin-left: .3rem;
}
.footnote{
    display: flex;
    justify-content: flex-end;
}
.footnote h5{
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    margin-bottom: 12.44rem;
}


/* WHAT-IS SECTION */
.what-is-bg{
    background: #F1F6F8;
}
.what-is{
    padding-top: 12rem;
    display:flex;
}
.what-is-head{
    background: #369DDC;
    flex-grow: 1;
    padding-left: 3.2rem;
}
.what-is-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3rem;
    line-height: 4.8rem;
    letter-spacing: .5px;
    color: white;
    margin-top: 4.9rem;
    margin-bottom: 5.3rem;
}
.what-is-head p{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    margin-bottom: 2.56rem;
    
}
.what-is-head p:last-child{
    margin-bottom: 5.8rem;
}
.what-is-img{
    background: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ADVANTAGES SECTION */
.advantages-bg{
    background: #F1F6F8;
    padding-bottom: 8rem;
}
.advantages-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8.1rem;
}
.advantages-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color: black;
    margin-top: 8rem;
    margin-bottom: 3.74rem;
}
.advantages-head h2 span{
    color: #369DDC;
}
.advantages-head h3{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
}
.advantages-head h3 span{
    font-family: 'Noto Sans JP Bold';
    color: #369DDC;
}
.advantages-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advantages-card{
    position: relative;
    flex-basis: 48rem;
    background: white;
    padding-left: 3.2rem;
    margin-bottom: 4rem;
}
.advantages-card-title h4{
    margin-top: 3.1rem;
    margin-bottom: 2rem;
    font-family: 'Noto Sans JP Bold';
    font-size: 2.2rem;
    line-height: 3.52rem;
    letter-spacing: .5px;
    color: #369DDC;
}
.advantages-card-h-line{
    width: 8rem;
    height: .4rem;
    background: #FCBB0D;
    margin-bottom: 5.46rem;
}
.advantages-card-text p{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
    margin-bottom: 3.76rem;
}
.advantages-card-img{
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
}


/*FEATURES SECTION*/
.features-bg{
    background: #369DDC;
}
.features{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.features-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.features-img{
    flex-grow:1;
    margin: 3.2rem 0;
}
.features-img img{
    width: 32rem;
    height: 35.9rem;
}
.features-text h3{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}
.features-text h3 span{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.4rem;
    line-height: 1.6rem;
    letter-spacing: .5px;
    color: #FCBB0D;
}
.features-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-text h5{
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
}
.features-text h5 span{
    font-family: 'Noto Sans JP Bold';
    font-size: 1.6rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    color: #FCBB0D
}
.features-text h5 span:hover{
    cursor: pointer;
    opacity: .8;
}
.features-text h6{
    font-family: 'Noto Sans JP Light';
    font-size: 1.2rem;
    line-height: 1.92rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    margin-bottom: 5rem;
}
.features-3circles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.7rem;
    margin-bottom: 2.4rem;
}
.features-3circles h2{
    width: 120px;
    height: 120px;
    font-family: 'Noto Sans JP Bold';
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    padding-top: 3.6rem;
    border: 4px solid white;
    border-radius: 60px;
    margin-right: 2rem;
}
.features-3circles h2 span{
    font-size: 2.4rem;
}
.features-3circles h2:last-child{
    padding-top: 2.2rem;
    line-height: 3.6rem;
}
.features-cta-buttons{
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}
.features-cta-buttons h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
}
.features-cta-btn1{
    width: 274px;
    height: 72px;
    background: white;
    border: 3px solid #4CB2F0;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
}
.features-cta-btn1:hover{
    cursor: pointer;
    animation: cta1 .8s infinite alternate-reverse;
}
.features-cta-btn1 h4{
    color: #369DDC;
    margin-left: 7rem;
    margin-right: 2.2rem;
}
.features-cta-btn2{
    width: 274px;
    height: 72px;
    background: #FCBB0D;
    border: 3px solid #FCBB0D;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.features-cta-btn2:hover{
    cursor: pointer;
    animation: cta2 .8s infinite alternate-reverse;
}
.features-cta-btn2 h4{
    color: white;
    margin-left: 7rem;
    margin-right: 4.9rem;
}


/*REASONS SECTION*/
.reasons-bg{
    background: #F1F6F8;
    padding-bottom: 12rem;
}
.reasons-head{
    padding-top: 12.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reasons-head h3{
    font-family: 'Noto Sans JP Bold';
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 2rem;
}
.reasons-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 8.74rem;
}
.reasons-head h2 span{
    color: #369DDC;
}
.reason1{
    background: white;
    padding: 3.2rem;
}
.reason-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.45rem;
}
.title-text{
    display: flex;
    align-items: center;
    position: relative;
}
.reason-title h4:first-child{
    font-family: 'Noto Sans JP Light';
    font-size: 6rem;
    line-height: 7.2rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #369DDC;
    margin-right: 4.06rem;
   
}
.reason-h-line{
    align-self: flex-end;
    width: 6.76rem;
    height: .4rem;
    background: #FCBB0D;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.reason-title h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 3rem;
    line-height: 4.8rem;
    letter-spacing: .5px;
    color:#369DDC;
}
.title-img{
    display: flex;
    justify-content: flex-end;
}
.reason-text p{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
    margin-bottom: 4.06rem;
}
.reason1-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reason1-card{
    padding: 3.2rem;
    flex-basis: 29.6rem;
    background:#C2E6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reason1-card-text h5{
    margin-top: .6rem;
    font-family: 'Noto Sans JP Bold';
    font-size: 1.8rem;
    line-height: 2.88rem;
    letter-spacing: .5px;
    color:#333;
    text-align:center;
}
.reason2{
    background: white;
    padding: 3.2rem;
    margin-top: 4rem;
}
.reason2 .reason-title{
  margin-bottom: 1.5rem;
}
.reason2 .reason-text p span{
    font-family: 'Noto Sans JP Bold';
    color: #369DDC;
}
.reason2-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reason2-card-title h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 2.6rem;
    line-height: 4.16rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 3.66rem;
    text-align: center;
}
.reason2-card-text p{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
}
.reason2-card-text p span{
    font-family: 'Noto Sans JP Bold';
}
.reason2-card1{
    background: #C2E6FF;
    padding: 3.2rem;
    padding-top: 3.9rem;
}
.reason2-card2{
    background: #369DDC;
    padding: 3.2rem;
    padding-top: 3.9rem;
}
.reason2-card2 .reason2-card-text p, .reason2-card2 .reason2-card-title h4{
    color: white;
}
.reason2-card1 .reason2-card-img{
    margin-top: 3.62rem;
}
.reason2-card2 .reason2-card-img{
    margin-top: 6.177rem;
}
.reason3{
    background: white;
    padding: 3.2rem;
    margin-top: 4rem;
}
.reason3-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reason3-card{
    background: #C2E6FF;
    padding:3.2rem;
    padding-top: 3.86rem;
    position: relative;
}
.reason3-card-title h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 1.8rem;
    line-height: 2.88rem;
    letter-spacing: .5px;
    color:#333;
    text-align: center;
    margin-bottom: 2.18rem;
}
.reason3-card-title div{
    position: absolute;
    width: 79%;
    top: -1.8rem;
    left: 3.2rem;
    background: #369DDC;
}
.reason3-card-title h5{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 1.76rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    padding: .8rem 0;
    text-align: center;
}
.reason3-card-text p, .reason3-card-text h6{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
}
.reason3 .reason-text p span{
    font-family: 'Noto Sans JP Bold';
    color: #369DDC;
}
.reason3-card-img{
    margin-bottom: 2rem;
}
.reason3-card-text-list p{
    font-size: 1.4rem;
    line-height: 1.82rem;
}


/*COMPARISON SECTION*/
.comparison-bg{
    background: #F1F6F8;
    padding-top: 12.4rem;
    padding-bottom: 12rem;
}
.comparison-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comparison-head h3{
    font-family: 'Noto Sans JP Bold';
    font-size: 2.8rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 2rem;
}
.comparison-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 8.74rem;
}
.comparison-head h2 span{
    color: #369DDC;
}


/*CASE-STUDY SECTION*/
.case-study-bg{
    padding-bottom: 9.6rem;
}
.case-study-head{
    margin-top: 12.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.case-study-head h3{
    font-family: 'Noto Sans JP Bold';
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 2rem;
}
.case-study-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 8.74rem;
}
.case-study-head h2 span{
    color: #369DDC;
}
.case-study-cards{
    display: flex;
    flex-wrap: wrap;
}
.case-study-card{
    background: #F1F6F8;
    margin-bottom: 2.4rem;
    transition: opacity .5s;
}
.case-study-card:hover{
    cursor: pointer;
    opacity: .8;
    outline: .5px solid #333;
}
.case-study-card2, .case-study-card5{
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.case-study-card-intro{
    margin-left: 1.6rem;
    margin-top: 1.8rem;
}
.case-study-card-intro h5{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
}
.case-study-card-intro h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 1.6rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
}
.case-study-card-info{
    margin-left: 1.6rem;
}
.case-study-card-info1, .case-study-card-info2,
.case-study-card-info3, .case-study-card-info4{
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
}
.case-study-card-info h4{
    width: 8.4rem;
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: white;
    background:#369DDC;
    text-align: center;
    padding: .2rem;

   
}
.case-study-card-info h5{
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 1.68rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
    margin-left: .8rem;
}
.case-study-card-info p{
    font-family: 'Noto Sans JP Light';
    font-size: 1.2rem;
    line-height: 1.92rem;
    letter-spacing: .5px;
    font-weight: 350;
    color: #333;
    margin-bottom: 1.637rem;
}
.case-study-card1 .case-study-card-intro h5,
.case-study-card3 .case-study-card-intro h5{
    margin-bottom: 3.942rem;
}
.case-study-card1 .case-study-card-intro h4{
    margin-bottom: 2.667rem;
}
.case-study-card3 .case-study-card-intro h4{
    margin-bottom: .428rem;
}
.case-study-card2 .case-study-card-intro h5{
    margin-bottom: 1.233rem;
}
.case-study-card2 .case-study-card-intro h4{
    margin-bottom: 2.366rem;
}
.case-study-card4 .case-study-card-intro h5{
    margin-bottom: 4.289rem;
}
.case-study-card4 .case-study-card-intro h4{
    margin-bottom: 3.359rem;
}
.case-study-card5 .case-study-card-intro h5{
    margin-bottom: 2.939rem;
}
.case-study-card5 .case-study-card-intro h4{
    margin-bottom: .66rem;
}


/*USEFUL-MATERIALS SECTION*/
.useful-materials-bg{
    background: #F1F6F8;
    padding-bottom: 12rem;
}
.useful-materials-head{
    padding-top: 12.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.useful-materials-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 5.14rem;
}
.useful-materials-head h3{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color:#333;
    margin-bottom: 6.96rem;
    text-align: center;
}
.useful-materials-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.useful-materials-card{
    background: #E5EDF0;
    padding: 2.4rem;
}
.useful-materials-card-title h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 1.6rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    color:#333;
    margin-top: 1.9rem;
    margin-bottom: 2.34rem;
    text-align: center;
}
.useful-materials-card-text p{
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color:#333;
    margin-bottom: 2.4rem;
}
.useful-materials-card-button{
    background: #FCBB0D;
    margin: 0 4rem;
    border-radius: 24px;
    padding: .7rem 0;
    transition: .8s;
}
.useful-materials-card-button:hover{
    cursor: pointer;
    background: #b69948;
}
.useful-materials-card-button h5{
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color:white;
    text-align: center;
}


/*FAQ SECTION*/
.faq-bg{
    padding-bottom: 8rem;
}
.faq-head{
    padding-top: 12.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-head h3{
    font-family: 'Noto Sans JP Bold';
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 2rem;
}
.faq-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 8.74rem;
}
.faq-head h2 span{
    color: #369DDC;
}
.question{
    display: flex;
    align-items: center;
    padding: 1.76rem 3.2rem;
    background: #369DDC;
    position: relative;
}
.question-text h4{
    font-family: 'Noto Sans JP Bold';
    font-size: 2.4rem;
    line-height: 3.12rem;
    letter-spacing: .5px;
    color:white;
    margin-left: 2.8rem;
}
.question-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
}
.question-icon:hover{
    cursor: pointer;
    opacity: .8;
}
.question-icon img{
    pointer-events: none;
}
.question-response{
   min-height: 4rem;
}
.show-q-response{
    font-family: 'Noto Sans JP Light';
    font-size: 1.8rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color:#333;
    margin-bottom: 4rem;
    padding: 2rem 1rem;
    background: rgb(237, 237, 237);
    text-indent: 2rem;
    transition: .5s;
}


/*FLOW SECTION*/
.flow-bg{
    background: #F1F6F8;
    padding-bottom: 11.8rem;
}
.flow-head{
    padding-top: 12.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flow-head h3{
    font-family: 'Noto Sans JP Bold';
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 2rem;
}
.flow-head h2{
    font-family: 'Noto Sans JP Bold';
    font-size: 3.6rem;
    line-height: 5.04rem;
    letter-spacing: .5px;
    color:#333;
    margin-bottom: 8.74rem;
}
.flow-head h2 span{
    color: #369DDC;
}
.flow-steps{
    margin-left: 10rem;
    margin-right: 10rem;
}
.flow-step{
    width: 100%;
    background: white;
    padding: 3.2rem;
    display: flex;
    justify-content: space-between;
}
.flow-step-title{
    display: flex;
    align-items: center;
}
.flow-step-title h4, .flow-step-title h5{
    font-family: 'Noto Sans JP Bold';
    font-size: 2.4rem;
    line-height: 3.84rem;
    letter-spacing: .5px;
    color:#369DDC;
}
.flow-step-title h5{
    margin-right: 4.1rem;
}
.flow-step-number-h-line{
    background: #FCBB0D;
    width: 7.1rem;
    height: .4rem;
}
.flow-step-info p{
    font-family: 'Noto Sans JP Light';
    font-size: 1.6rem;
    line-height: 2.56rem;
    letter-spacing: .5px;
    font-weight: 350;
    color:#333;
    margin-top: 2.24rem;
}
.flow-step-arrow{
    text-align: center;
    padding: 1.4rem 0;
}


/*FOOTER*/
footer{
    background: #2E7CA9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.7rem;
}
footer h2{
    font-family: 'Noto Sans JP Light';
    font-size: 1.4rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color:white;
    margin-bottom: 2.58rem;
    text-decoration: underline;
}
footer h2:hover{
    cursor: pointer;
    opacity: .8;
}
footer h3{
    font-family: 'Noto Sans JP Light';
    font-size: 1.3rem;
    line-height: 2.24rem;
    letter-spacing: .5px;
    font-weight: 350;
    color:white;
}

#case_study_id{
    scroll-margin-top: 13rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1040px){
   .main-head, .hero-text, .tasks-cards, .reduction-circles, .advantages-cards, .features-text,
    .comparison-table, .case-study-cards, .useful-materials-cards, .questions{
        padding: 0 2rem;
   }
   .tasks-head{
    padding-left: 2rem;
    padding-right: 2rem;
   }
   .what-is{
    padding-left: 2rem;
    padding-right: 2rem;
   }
   .what-is-head{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   }
   .what-is-img{
    padding-right: 1rem;
   }
   .what-is-img img{
    width: 100%;
   }
   .advantages-head{
    padding-left: 2rem;
    padding-right: 2rem;
   }
   .advantages-card{
    padding-left: 1.5rem;
    flex-basis: 44rem;
    margin-left: .5rem;
    margin-right: .5rem;
   }
   .comparison-table img{
    width: 100%;
   }
   .case-study-card2, .case-study-card5{
    margin-left: 0;
    margin-right: 0;
   }
   .case-study-cards{
    justify-content: center;
   }
   .case-study-card{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 4rem;
   }
   .useful-materials-card{
    padding: 1.5rem;
   }
   .useful-materials-card2{
    margin-left: 1.3rem;
    margin-right: 1.3rem;
   }
   .main-head .logo{
    width: 16rem;
   }
   .main-head .logo img{
    width: 100%;
   }
   .tasks-card2, .tasks-card5{
    margin-left: 0;
    margin-right: 0;
   }
   .tasks-card{
    margin-left: .5rem;
    margin-right: .5rem;
   }
   .reason2-card{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.hero-img{
    padding-right: 2rem;
}
.hero-img img{
    width: 100%;
}
}
@media screen and (max-width: 980px){
    .main-head-buttons{
        margin-left: 1.1rem;
    }
    .main-head .logo{
        width: 14rem;
    }
    .tasks-card{
        flex-basis: 26rem;
    }
    .reduction-circle{
        width: 28rem;
        height: 28rem;
    }
    .outer-circle img{
        width: 100%;
        height: 100%;
    }
    .circle-title h3{
        font-size: 2rem;
    }
    .reason1-card{
        flex-basis: 22.4rem;
    }
    .reason2-card{
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
    .reason2-card1{
        margin-right: 1rem;
    }
    .reason3-card{
        padding-left: 2.5rem;
        padding-right: 2.3rem;
    }
    .useful-materials-cards{
        justify-content: center;
    }
    .useful-materials-card3{
        margin-top: 3rem;
    }
    .useful-materials-card2{
        margin-left: 3rem;
    }
    .advantages-card{
        flex-basis: 43rem;
    }
    .flow-step-text{
        padding-right: 2rem;
    }
    .flow-steps{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
@media screen and (max-width: 940px){
    .logo{
        position: absolute;
        top: 8px;
        left: 20px;
    }
    .main-head{
        height: 9rem;
        justify-content: space-around;
        padding-top: 2rem;
    }
    .reduction-circles{
        justify-content: center;
    }
    .reduction-circle{
        margin-left: 2.5rem;
        margin-right: 3.5rem;
    }
    .advantages-cards{
        justify-content: center;
    }
    .advantages-card{
        flex-basis: 48rem;
    }
    .features-img{
        width: 26rem;
        height: 30rem;
        margin: 0;
        align-self: center;
        flex-grow: unset;
    }
    .features-img img{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .reason2-cards{
        justify-content: center;
    }
    .reason2-card{
        padding-left: 8.5rem;
        padding-right: 8.5rem;
    }
    .reason2-card1{
        margin-right: 0;
        margin-bottom: 3rem;
    }
    .reason3-cards{
        justify-content: center;
    }
    .reason3-card{
        padding-left: 6rem;
        padding-right: 6rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .reason3-card3{
        margin-top: 3rem;
    }
    .reason3-card-title div{
        left: 3.75rem
    }
    .question-text{
        margin-right: 3rem;
    }
}
@media screen and (max-width: 875px){
    .hero-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features-img{
        width: 22.6rem;
        height: 24rem;
    }
    .tasks-cards{
        justify-content:center;
    }
    .tasks-card{
        flex-basis: 26.5rem;
        margin-left: 2rem;
        margin-right: 2rem
    }
    .hero-head h1{
        font-size: 3.2rem;
    }
    .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 3rem;
    }
    .reason-title h4{
        font-size: 2.8rem;
    }
    .flow-steps{
        width: 95%;
    }
}
@media screen and (max-width: 840px){
    .features{
       flex-direction: column;
       align-items: center;
    }
    .features-img{
        padding-bottom: 2rem;
    }
    .reason3-card{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .reason3-card-title div{
        left: 3.2rem;
    }
    .hero{
        flex-direction: column;
        align-items: center;
    }
    .hero-text{
        align-items: center;
    }
    .hero-img{
        width: 38rem;
        height: 43rem;
    }
    .flow-step-title h4, .flow-step-title h5{
        font-size: 2rem;
    }
}
@media screen and (max-width: 790px){
    nav ul li:first-child{
        margin-left: 0;
    }
    .inquiry-btn{
        padding: .4rem .6rem;
    }
    .request-btn{
        padding: .4rem 1.45rem;
    }
    .case-study-card-intro, .case-study-card-info{
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .case-study-card-info{
        padding-bottom: 3rem;
    }
    .case-study-card-img{
        width: 100%;
    }
    .case-study-card-img img{
        width: 100%;
    }
    .case-study-card5{
       margin-bottom: 0;
    }
    .reason1-card{
        margin-left: 1rem;
        margin-right: 1rem;
        flex-basis: 26rem;
    }
    .reason1-card3{
        margin-top: 3rem;
    }
    .reason1-cards{
        justify-content: center;
    }
    .case-study-card-info p{
        margin-top: 2rem;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 760px){
    .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 2.8rem;
    }
    .hero-head h1{
        font-size: 3rem;
    }
    .reason-title h4, .comparison-head h3{
        font-size: 2.6rem;
    }
    .reason2-card-title h4{
        font-size: 2.4rem;
    }
    .reduction-circle{
        width: 26rem;
        height: 26rem;
    }
    .reduction-circle .inner-circle{
        width: 22rem;
        height: 22rem;
    }
    .circle-title h3{
        font-size: 1.8rem;
    }
    .reduction-percent h4{
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 746px){
    .footnote h5{
        margin-bottom: 6rem;
        padding-right: 2rem;
    }
    .flow-steps{
        width: 98%;
    }
}
@media screen and (max-width: 730px){
    nav ul li{
        margin-left: 1.5rem;
    }
    .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 2.6rem;
    }
    .what-is-head h2{
        font-size: 2.6rem;
    }
    .reason-title h4, .comparison-head h3{
        font-size: 2.4rem;
    }
    .reason3-card{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .reason3-card1{
        margin-bottom: 3rem;
    }
    .reason3-card2{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .reason3-card-title div{
        left: 4.1rem;
    }
    .flow-step-title h4, .flow-step-title h5{
        font-size: 1.8rem;
    }
    .flow-step-info p{
        font-size: 1.4rem;
    }
    .useful-materials-card2{
        margin-left: 3.3rem;
    }
}
@media screen and (max-width: 700px){
    .hero-head h1{
        font-size: 2.8rem;
    }
    .features-circles h2{
        width: 11rem;
        height: 11rem;
        padding-top: 2rem;
    }
    .features-circles h2:last-child{
        padding-top: 1.5rem;
    }
    .cta-btn1, .cta-btn2{
        width: 24rem
    }
    .cta-buttons h4{
        font-size: 1.8rem;
    }
    .first-navigation, .main-head-buttons{
        display: none;
    }
    .first-navigation li:first-child{
        display: none;
    }
    nav{
        width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    nav li a{
        width: 100%;
        text-align: center;
    }
    nav li a{
        text-align: center;
    }
    .mobile-menu{
        display: flex;
    }
    .main-head .logo{
        width: 18rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .main-head{
        padding: 0;
        height: 7rem;
    }
    .useful-materials-card2{
        margin-left: 0;
        margin-right: 0;
    }
    .useful-materials-card1{
        margin-bottom: 3rem;
    }
    .useful-materials-card{
        padding: 2.7rem;
    }
    .reduction-circle{
        width: 24rem;
        height: 24rem;
    }
    .reduction-circle .inner-circle{
        width: 20rem;
        height: 20rem;
    }
    .circle-title h3{
        font-size: 1.6rem;
    }
    .reduction-percent h4{
        font-size: 3rem;
    }
    nav ul li a{
        font-size: 2rem;
    }
    nav ul li{
        padding: 1.5rem 0;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 680px){
    .flow-step{
        flex-direction: column;
        align-items: center;
        padding: 3.2rem;
    }
    .flow-steps{
        width: 80%;
    }
    .flow-step-info{
       padding: 3rem 2rem;
    }
    .flow-step-img{
        width: 70%;
        padding-bottom: 3rem;
    }
    .flow-step-img img{
        width: 100%;
    }
    .flow-step-text{
        padding-right: 0;
    }
    .flow-step-info{
        padding-left: 0;
        padding-right: 0;
    }
   
}
@media screen and (max-width: 660px){
    .circle-img img{
        width: 100%;
    }
    .circle-img{
        width: 7rem;
    }
    .reduction-circle{
        width: 20rem;
        height: 20rem;
        margin-left: 0;
        margin-right: 2rem;
    }
    .reduction-circle .inner-circle{
        width: 16rem;
        height: 16rem;
    }
    .circle-title h3{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    .reduction-percent h4{
        font-size: 3rem;
    }
}
@media screen and (max-width: 640px){
    .reason1-card{
        height: 26.5rem;
        flex-basis: 22rem;
    }
    .what-is-head h2{
        text-align: center;
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 620px){
    .features-cta-btn1, .features-cta-btn2{
        width: 24rem;
    }
    .features-cta-btn1 h4, .features-cta-btn2 h4{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 580px){
    .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 2.2rem;
    }
    .what-is-head h2{
        font-size: 1.8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .reason-title h4, .advantages-card-title h4, .reason2-card-title h4, .comparison-head h3{
        font-size: 2rem;
    }
    .comparison-head h2{
        margin-bottom: 3rem;
    }
    .comparison-bg {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .hero-img{
        width: 30rem;
        height: 38rem;
    }
    .tasks-head h3, .what-is-head p, .advantages-head h3, .advantages-card-text p, .reason-text p,
    .reason2-card-text p, .reason3-card-text p, .reason3-card-text h6{
        font-size: 1.4rem;
    }
    .reason1-card-text h5{
        font-size: 1.6rem;
    }
    .question-text h4{
        font-size: 1.8rem;
    }
    .title-img img{
        width: 100%;
    }
    .title-img{
        width: 12rem;
    }
    .case-study-head{
        margin-top: 6rem;
    }
    .case-study-head h2{
        margin-bottom: 3rem;
    }
    .useful-materials-head{
        padding-top: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .faq-head , .flow-head{
        padding-top: 6rem;
    }
    .faq-head h2, .flow-head h2{
        margin-bottom: 3rem;
    }
    .cta-btn1, .cta-btn2, .features-cta-btn1, .features-cta-btn2{
        width: 20rem;
    }
    .cta-buttons h4, .features-cta-buttons h4{
        font-size: 1.4rem;
    }
    .cta-btn1 h4, .cta-btn2 h4, .features-cta-btn1 h4, .features-cta-btn2 h4{
        margin-left: 3rem;
    }
    .reduction-circles{
        padding: 0;
    }
    .reason2-card1, .reason2-card2{
        padding: 3.2rem;
        padding-top: 3.9rem;
    }
    .what-is-head{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .reason1-card{
        flex-basis: 23rem;
    }
    .reason1-card1{
        margin-bottom: 3rem;
    }
    .reason-title h4:first-child{
        font-size: 4rem;
        margin-right: 2rem;
    }
    .case-study-card-intro, .case-study-card-info{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .case-study-card{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 490px){
    .hero-head h1{
        font-size: 2.6rem;
    }
    .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 2rem;
    }
    .what-is-head h2{
        font-size: 1.7rem;
    }
    .reason-title h4, .advantages-card-title h4, .reason2-card-title h4, .comparison-head h3{
        font-size: 1.8rem;
    }
    .reason-h-line{
        width: 4rem;
    }
    .title-img{
        width: 10rem;
        padding-left: 1rem;
    }
    .reason2-card-img img{
        width: 100%;
    }
    .reason3-card {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .reason3-card-title div{
        left: 3.1rem;
    }
    .circle-img{
        width: 11rem;
        height: 6rem;
    }
    .reduction-circle{
        width: 26rem;
        height: 26rem;
    }
    .reduction-circle .inner-circle{
        width: 22rem;
        height: 22rem;
    }
    .circle-title h3{
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }
    .reduction-percent h4{
        font-size: 3rem;
    }
}
@media screen and (max-width: 480px){
    .features-text{
        padding: 0 .5rem;
    }
    .features-circles h2, .features-3circles h2{
        width: 10rem;
        height: 10rem;
        padding-top: 1.5rem;
        font-size: 1.6rem;
    }
    .features-circles h2:last-child, .features-3circles h2:last-child{
        padding-top: 1rem;
    }
    .cta-btn1, .cta-btn2, .features-cta-btn1, .features-cta-btn2{
        width: 18rem;
    }
    .main-head, .hero-text, .tasks-cards, .reduction-circles, .advantages-cards, .features-text,
    .comparison-table, .case-study-cards, .useful-materials-cards, .questions{
        padding: 0 1rem;
   }
   .tasks-head{
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .what-is{
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .what-is-head{
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .advantages-head{
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 1.8rem;
    }
    .what-is-head h2{
        font-size: 1.6rem;
    }
    .reason-title h4, .advantages-card-title h4, .reason2-card-title h4, .comparison-head h3{
        font-size: 1.6rem;
    }
    .comparison-table{
        padding: 0;
    }
    .comparison-bg{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
@media screen and (max-width: 430px){
    .hero-head h1{
        font-size: 2.4rem;
        text-align: center;
    }
    .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 1.6rem;
        line-height: 4rem;
    }
    .what-is-head h2{
        font-size: 1.4rem;
    }
    .reason-title h4, .advantages-card-title h4, .reason2-card-title h4, .comparison-head h3{
        font-size: 1.4rem;
    }
    .card-text h4{
        font-size: 1.8rem;
    }
    .reasons-head h2{
        font-size: 1.6rem;
        margin-bottom: 6rem;
    }
    .reasons-head h3{
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .reasons-head{
        padding-top: 6rem;
    }
   .reason-title{
    flex-direction: column;
   }
   .reason-title h4:first-child{
    font-size: 3rem;
   }
   .reason-h-line{
    bottom: 10px;
   }
   .features-circles h2, .features-3circles h2{
    width: 8rem;
    height: 8rem;
    font-size: 1.4rem;
    line-height: 2rem;
   }
   .features-circles h2:last-child, .features-3circles h2:last-child{
    line-height: 2rem;
    padding-top: 1.5rem;
   }
   .cta-btn1, .cta-btn2, .features-cta-btn1, .features-cta-btn2{
    width: 15rem;
   }
   .cta-btn1 h4, .features-cta-btn1 h4{
        margin-right: 1rem;
        margin-left: 1rem;
   }
   .cta-btn2 h4,.features-cta-btn2 h4{
    margin-left: 2.3rem;
    margin-right: 2.5rem;
   }
   .hero-head h3, .features-text h3{
    font-size: 1.4rem;
   }
   .hero-head h3 span, .features-text h3 span{
    font-size: 2.4rem;
   }
   .footnote h5{
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .title-img{
    width: 15rem;
    padding: 0;
   }
   .reason2-card-title h4{
    margin-bottom: 2rem;
    }
    .reason2-card1, .reason2-card2{
        padding-top: 2.5rem;
    }
    .advantages-card{
        padding-right: 1.5rem;
    }
    .question-text h4{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 400px){
    .tasks-head{
        padding-top: 6rem;
    }
    .tasks-cards .tasks-card:last-child{
        margin-bottom: 8rem;
    }
    .what-is{
        flex-direction: column;
        padding-top: 8rem;
    }
    .what-is-head p:last-child{
        margin-bottom: 2rem;
    }
    .what-is-img{
        padding: 1rem;
    }
    .advantages-head h2{
        margin-top: 6rem;
    }
    .advantages-bg{
        padding-bottom: 6rem;
    }
    .reasons-head{
        padding-top: 5rem;
    }
    .reason1{
        padding: 2rem;
    }
    .reasons-bg{
        padding-bottom: 8rem;
    }
    .case-study-bg{
        padding-bottom: 6rem;
    }
    .advantages-card-img img{
        width: 100%;
    }
    .advantages-card-img{
        width:12rem;
    }
    .advantages-card-title h4{
        margin-bottom: 0;
        margin-top: 2rem;
    }
    .advantages-card-img{
        top: 1rem;
        right: 1rem;
    }
    .useful-materials-card{
        padding: 2rem;
    }
    .question-text h4{
        font-size: 1.4rem;
    }
    .question{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .question-img img{
        width: 4rem;
        height: 4rem;
    }
    .question-img{
      width: 4rem;
    }
    .question-text h4{
        margin-left: 1.5rem;
    }
    .question-icon img{
        width: 100%;
    }
    .question-icon{
        width: 1.5rem;
        right: 2rem
    }
    .flow-step{
        padding: 2rem;
    }
}
@media screen and (max-width: 370px){
    .hero-head h1{
        font-size: 2.2rem;
        line-height: 4rem;
    }
    .tasks-head h2, .work-time-reduction-head h2, .advantages-head h2, .reasons-head h2, .comparison-head h2,
    .case-study-head h2, .useful-materials-head h2, .faq-head h2, .flow-head h2{
        font-size: 1.4rem;
        line-height: 3rem;
    }
    .card-text h4{
        font-size: 1.4rem;
    }
    .reasons-head h2{
        font-size: 1.4rem;
    }
    .case-study-card .case-study-card-intro h4{
        font-size: 1.4rem;
    }
    .useful-materials-head h3{
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }
    .faq-head h3, .flow-head h3{
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }
    .flow-step-title h4, .flow-step-title h5{
        font-size: 1.4rem;
    }
    .hero, .tasks-head{
        padding-top: 2rem;
    }
    .tasks-head h2{
        margin-bottom: 2rem;
    }
    .tasks-head h3{
        margin-bottom: 14rem;
    }
    .work-time-reduction-head h2{
        padding-top: 2rem;
        margin-bottom: 4rem;
    }
    .footnote h5{
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .what-is-head h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .advantages-card-img{
        width: 10rem;
    }
    .advantages-head h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .advantages-head{
        margin-bottom: 4rem;
    }
    .advantages-card-h-line{
        margin-bottom: 3rem;
    }
    .advantages-bg{
        padding-bottom: 4rem;
    }
    .reasons-head h2{
        margin-bottom: 4rem;
    }
    .reason2-card1, .reason2-card2{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .reason2, .reason3{
        padding: 1rem;
        padding-bottom: 3rem;
    }
    .reason-title{
        margin-bottom: 3rem;
    }
    .faq-bg{
        padding-bottom: 4rem;
    }
    .flow-steps{
        width: 95%;
    }
    .flow-bg{
        padding-bottom: 6rem;
    }
   footer{
    padding: 2rem;
   }
   .advantages-card1{
     margin-bottom: 0;
   }
   .comparison-head h3, .case-study-head h3{
    margin-bottom: .5rem;
   }
   .useful-materials-head{
    padding-top: 3rem;
   }
   .useful-materials-head h2{
    margin-bottom: 2rem;
   }
   .faq-head, .flow-head{
    padding-top: 3rem;
   }
   .flow-step-info{
    padding: 1rem 0;
   }
   .features-cta-buttons, .cta-buttons{
    flex-direction: column;
   }
   .cta-btn1, .cta-btn2, .features-cta-btn1, .features-cta-btn2{
    width: 18rem;
   }
   .features-cta-btn1, .cta-btn1{
    margin-top: 1rem;
    margin-bottom: 2rem;
   }
   .cta-btn1 h4, .features-cta-btn1 h4{
    margin-left: 3rem;
   }
   .cta-btn2 h4, .features-cta-btn2 h4{
    margin-left: 4rem;
   }
   .main-head .logo{
    width: 14rem;
   }
   .ham-line{
    width: 2.5rem;
    margin-bottom: .4rem;
   }
   .main-head{
    height: 6rem;
   }
}
@media screen and (max-width: 340px){
    .features-text{
        width: 100%;
    }
    .features-info h5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer h3{
        text-align: center;
    }
    .useful-materials-card{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem
    }
    .useful-materials-card-img img{
        width: 100%;
    }
    .reason3-card{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0;
        margin-right: 0;
    }
    .reduction-circle{
        margin: 0;
    }
    .card-img img{
        width: 100%;
    }
    .hero-img{
        width: 22rem;
        height: 30rem;
    }
    .hero-text{
        padding: 0;
    }
    .hero-head h1{
        font-size: 1.6rem;
    }
    .features-circles, .features-3circles{
        flex-wrap: wrap;
    }
    .features-circles h2{
        margin-right: 3rem;
    }
    .hero-head h3{
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 2.5rem;
    }
    .hero-info h5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-info h6{
        margin-bottom: 0;
    }
    .features-text h6{
        margin-bottom: 2rem;
    }
    .reason3-card-title div{
        left: 2.8rem;
    }
    .case-study-head h3{
        text-align: center;
    }
    .advantages-head h2{
        text-align: center;
    }
    .advantages-card-img{
        width: 7rem;
    }
}
@media screen and (max-width: 300px){
    .tasks-card{
        margin-left: 0;
        margin-right: 0;
    }
    .reason3-card{
        width: 98%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    .reason3-card-img img{
        width: 100%;
    }
    .reason3-card-title div{
        left: 2.6rem;
    }
    .advantages-card-img{
        width: 6rem;
        top: 5rem;
    }
    .advantages-card-h-line{
        margin-bottom: 4rem;
    }
    .title-img{
        width: 12rem;
    }
    .reason1-card-img img{
        width: 100%;
    }
    .reason1-card-img{
        width: 8rem;
    }
    .reason1-card-text h5{
        font-size: 1.4rem;
    }
    .reason1-card{
        padding: 2rem;
        padding-bottom: 0;
        height: 22rem;
    }
    .circle-img{
        width: 7rem;
        height: unset;
    }
    .reduction-circle{
        width: 20rem;
        height: 20rem;
        margin-left: 0;
        margin-right: 2rem;
        margin-bottom: 3rem;
    }
    .reduction-circle .inner-circle{
        width: 16rem;
        height: 16rem;
    }
    .circle-title h3{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    .reduction-percent h4{
        font-size: 3rem;
    }
}